{% extends "base.html" %}

{% block title %} AKÁ Mercado - Gestión de Productos {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2 class="text-light">Edición de Productos</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editar_producto/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="idProd" name="idProd" value="{{producto.idProd}}" class="form-control" placeholder="ID Producto"
                            required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="nombre" name="nombre" value="{{producto.nombre}}" class="form-control" placeholder="Nombre" required>
                    </div>
                    <div class="form-group">
                        <input type="number" id="precio" name="precio" value="{{producto.precio}}" class="form-control" placeholder="Precio" required>
                    </div>
                    <div class="form-group">
                        <input type="file" id="imagen" name="imagen" accept="image/*" required>
                    </div>
                    <div class="form-group">
                        <input type="number" id="cantidad" name="cantidad" value="{{producto.cantidad}}" class="form-control" placeholder="Cantidad de Productos" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="descripcion" name="descripcion" value="{{producto.descripcion}}" class="form-control" placeholder="Descripcion" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="categoria" name="categoria" value="{{producto.categoria}}" class="form-control"  placeholder="Categoria" required>
                    </div>                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}