<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AKÁ Mercado - Método de pago</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <script src="{% static 'scripts/carrito.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="icon" href="{% static 'images/logo.ico' %}">
    <link rel="stylesheet" href="{% static 'styles/nav.css' %}">
    <script src="{% static 'scripts/nav.js' %}"></script>
    <script src="{% static 'scripts/section-home.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles/section-home.css' %}">
    <link rel="stylesheet" href="{% static 'styles/mapa.css' %}">
    <link rel="stylesheet" href="{% static 'styles/carrito.css' %}">
    <style>
        body {
            color: white;
        }
        .custom-container {
            background-color: #343a40;
            padding: 20px;
            border-radius: 10px;
            margin-top: 50px;
        }

        .custom-container h2 {
            color: white; 
        }

        .custom-container .form-label {
            color: #dc3545;
            font-size: 1.2em; 
            font-weight: bold;
            margin-bottom: 10px; 
        }


        .custom-container .btn-primary {
            background-color: #dc3545;
            border: none;
        }
    </style>
</head>
<body class="bg-dark">
    <nav class="navbar navbar-expand-lg bg-danger">
        <div class="container p-3">
            <div class="d-flex align-items-center">
                <a class="navbar-brand text-white p-2" href="{% url 'home' %}">
                    <img src="{% static 'images/logo.png' %}" width="60" height="60" class="d-inline-block align-top" alt="">
                </a>
                <h1 class="text-white mb-0">AKÁ Mercado</h1>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                    <li class="nav-item mx-3">
                        <a class="nav-link active text-white" aria-current="page" href="{% url 'home' %}">
                            <i class="bi bi-house-door"></i><strong> Home</strong>
                        </a>
                    </li>                    
                    <li class="nav-item mx-3">
                        <a class="nav-link active text-white" aria-current="page" href="{% url 'nosotros' %}">
                            <i class="bi bi-info-circle"></i><strong> Sobre Nosotros</strong>
                        </a>
                    </li>
                    <li class="nav-item dropdown mx-3">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <strong><i class="bi bi-grid"></i> Categorías</strong>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'rotiseria' %}"><i class="bi bi-filter"></i> Rotisería</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'abarrotes' %}"><i class="bi bi-filter"></i> Abarrotes</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'carniceria' %}"><i class="bi bi-filter"></i> Carnes</a></li>
                        </ul>
                    </li>                
                    <li class="nav-item dropdown mx-3">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle"></i><strong> Cuenta</strong>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'login_cliente' %}"><i class="bi bi-box-arrow-in-right"></i> Iniciar Sesión</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'login_admin' %}" target="_blank"><i class="bi bi-person"></i> Personal</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'registro' %}" target="_blank"><i class="bi bi-person-plus"></i> Registrarse</a></li>
                        </ul>
                    </li>                    
                    <li class="nav-item mx-3">
                        <a class="nav-link text-white" href="{% url 'productos' %}">
                            <i class="bi bi-cart"></i><strong></strong>
                        </a>
                    </li>    
                </ul>
            </div>
        </div>
    </nav>
    <div class="custom-container mt-5">
        <h2 class="mb-4">Selecciona tu Método de pago</h2>
        <form>
            <div class="mb-3">
                <label for="MetodoEfectivo" class="form-label">Efectivo</label>
                <input type="radio" id="MetodoEfectivo" name="metodoPago" value="efectivo">
            </div>
            <div class="mb-3">
                <label for="metodoTarjeta" class="form-label">Tarjeta de Credito/Débito</label>
                <input type="radio" id="metodoTarjeta" name="metodoPago" value="tarjeta">
            </div>
            <div class="row">
                <div class="col-6"><a href="{% url 'pago_exitoso' %}" class="btn btn-success">Pagar</a></div>
            </div>
        </form>
    </div>
    

</body>
</html>